* {
    box-sizing: border-box;
    margin: 2px;
}

Body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid black;
}
h2 {
    border-bottom: 1px solid black;
}

h2, h3, h4 {
    margin: 5px;
    padding: 5px;
}

#profecion {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.main-container {
    width: 75%;
    max-width: 1200px;
    min-height: 120px;
    background-color: rgb(137, 163, 135);
    display: grid;
    grid-template-columns: 2fr 4fr;
}
/** ---------------   derecha  ---------- */

aside {
    background-color: rgb(197, 192, 224);
    position: initial;
    margin: 2px;
    border: 2px solid rgb(78, 58, 58);
}

aside section {
    margin: 15px;
    padding: 5px;

}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    border-radius: 50%;
    margin: auto;
}

/** --------------- izquierda ------------ */

main {
    background-color: lightgrey;
    position: initial;
    margin: 2px;
    border: 2px solid black;
}

main section {
    margin: 15px;
    padding: 5px;
}

.nombre  {
text-align: center;
height: 190px;
letter-spacing: 5px;
}


section table  {
    border: 1px solid black;
    margin-top: 10px;
}

section table thead tr { 
    background-color: rgb(160, 226, 163);
}
section table th,
section table td {
    border: 1px solid black
}





